html,
body {
  font-family: "Londrina Solid", cursive;
  background-color: rgb(230, 204, 174);
}
.main {
  background-image: url("../img/bk-hot.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;

  border-radius: 40px;
}

h1,
h2,
h3 {
  display: inline;
  color: white;
  padding: 20px;
}
.current-img {
  top: 0;
  right: 0px;
  position: relative;
  width: 100%;
}
span {
  color: white;
}
.date-content {
  color: white;
}
.centro h2,
h1 {
  font-size: 80px;
  color: white;
}
footer {
  text-align: center;
  font-size: small;
}
.main a {
  color: #d5d5d5;
  transition: all 200ms ease-in-out;
  text-decoration: none;
  padding: 20px;
  font-size: 40px;
  font-style: italic;
  border-radius: 70px;
}
#current-type-c {
  text-decoration: none;
}
#unit .active {
  color: white;
  font-size: 80px;
  text-decoration: none;
  cursor: default;
}
#unit .active:hover {
  text-decoration: none;
  color: white;
  background: none;
  opacity: 1;
}

.main a:hover {
  color: rgb(0, 0, 34);
  background: #91bccf;
  opacity: 0.33;
  border-radius: 40px;
}
.today {
  padding: 5%;
  margin: 0px auto;
  width: 100%;
}
form {
  margin: 50px;
  float: right;
}

.centro {
  text-align: center;
}
#h1-city {
  text-transform: capitalize;
}
#current-type {
  text-decoration: none;
  font-size: 40px;
  color: rgb(142, 190, 194);
}
.change-btn {
  background: #70a5eb;
  color: white;
  border-radius: 30px;
  padding: 15px;
  border: none;
  box-shadow: 5px 5px 10px #0f2644;
}
.change-btn:hover {
  background: #fff;
  color: #70a5eb;
  border-radius: 30px;
}
#state-info {
  text-transform: capitalize;
}
.next-days-img {
  display: block;
  width: 60%;
  margin: 0px auto;
}
.next-days {
  text-align: center;
  font-size: 24px;
}
.forecast-days {
  color: rgb(59, 59, 59);
}
.forecast-max-temperature {
  font-weight: bold;
}
.forecast-min-temperature {
  font-weight: 100;
  opacity: 0.8;
}
.info-content p {
  color: white;
}
